.header {
  position: relative;
}

.header__black-box {
  display: none;
}

.header__content {
  margin: 2em auto 0;
  max-width: 22em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.header__image {
  display: block;
  width: 100%;
}

.header__title {
  line-height: 55px;
}

.header__first-title, .header__second-title {
  display: none;
}

@media (750px < width <= 1400px) {
  .header__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5em;
    gap: 3em;
  }

  .header__image {
    width: auto;
    max-width: 100%;
  }
}

@media (1400px < width) {
  .header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }

  .header__black-box {
    display: block;
    background-color: var(--black);
    overflow: hidden;
  }

  .header__content {
    position: absolute;
    top: 10em;
    right: 10em;
    gap: 4em;
  }

  .header__description {
    font-size: 22px;
    line-height: 32px;
  }

  .header__title {
    display: none;
  }

  .header__first-title {
    display: block;
    max-width: 5.3em;
    position: relative;
    left: 10rem;
    transform: translateY(100%);
    color: var(--white);
    font-feature-settings: 'clig' off, 'liga' off;
    user-select: none;
  }

  .header__second-title {
    display: block;
    max-width: 5.3em;
    position: absolute;
    left: 10rem;
    color: var(--black);
    font-feature-settings: 'clig' off, 'liga' off;
    z-index: -1;
    user-select: none;
  }

  .header__image {
    width: auto;
    max-width: 100%;
    position: relative;
    z-index: -2;
  }
}