<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <main class="location">
    <h1 class="location__header">Our Location</h1>
    <div class="location__content">
      <p class="location__address">99 King Street</p>
      <p class="location__full-address">
        Newport
        <br>RI 02840
        <br>United States of America
      </p>
      <p class="location__description">
        Our newly opened gallery is located near the Edward King House on 99 King Street, the Modern Art Gallery is free to all visitors and open seven days a week from 8am to 9pm.
      </p>
    </div>
  </main>
</body>
</html>