<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <main class="main">
    <picture style="grid-area: image-1;">
      <source 
        media="(max-width: 750px)"
        srcset="/assets/mobile/image-grid-1.jpg 1x, /assets/mobile/image-grid-1@2x.jpg 2x" />
      <source 
        media="(max-width: 1400px)"
        srcset="/assets/tablet/image-grid-1.jpg 1x, /assets/tablet/image-grid-1@2x.jpg 2x" />
      <source 
        media="(min-width: 1401px)"
        srcset="/assets/desktop/image-grid-1.jpg 1x, /assets/desktop/image-grid-1@2x.jpg 2x" />
      <img
        class="main__image"
        src="/assets/mobile/image-grid-1.jpg"
        alt="Abstract paintings in Native American style presented in the gallery." />
    </picture>
    <div class="main__text-box main__text-box_light" style="grid-area: text-1;">
      <h2 class="main__header">Your day at the gallery</h2>
      <p class="main__text">The arts in the collection of the Modern Art Gallery all started 
        from a spark of inspiration. Will these pieces inspire you? Visit 
        us and find out.</p>
    </div>
    <picture style="grid-area: image-2;">
      <source 
        media="(max-width: 750px)"
        srcset="/assets/mobile/image-grid-2.jpg 1x, /assets/mobile/image-grid-2@2x.jpg 2x" />
      <source 
        media="(max-width: 1400px)"
        srcset="/assets/tablet/image-grid-2.jpg 1x, /assets/tablet/image-grid-2@2x.jpg 2x" />
      <source 
        media="(min-width: 1401px)"
        srcset="/assets/desktop/image-grid-2.jpg 1x, /assets/desktop/image-grid-2@2x.jpg 2x" />
      <img
        class="main__image"
        src="/assets/mobile/image-grid-2.jpg"
        alt="A bench in the gallery in front of abstract stairs painting." />
    </picture>
    <picture style="grid-area: image-3;">
      <source 
        media="(max-width: 750px)"
        srcset="/assets/mobile/image-grid-3.jpg 1x, /assets/mobile/image-grid-3@2x.jpg 2x" />
      <source 
        media="(max-width: 1400px)"
        srcset="/assets/tablet/image-grid-3.jpg 1x, /assets/tablet/image-grid-3@2x.jpg 2x" />
      <source 
        media="(min-width: 1401px)"
        srcset="/assets/desktop/image-grid-3.jpg 1x, /assets/desktop/image-grid-3@2x.jpg 2x" />
      <img
        class="main__image"
        src="/assets/mobile/image-grid-3.jpg"
        alt="People in the gallery staring at classical paintings." />
    </picture>
    <div class="main__text-box main__text-box_dark" style="grid-area: text-2;">
      <h2 class="main__header">Come &amp; be inspired</h2>
      <p class="main__text">We’re excited to welcome you to our gallery and see how our collections 
        influence you.</p>
    </div>
  </main>
</body>
</html>